<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8">
<title>비밀번호 찾기</title>

<th:block th:replace="~{fragments/configure::configure}"></th:block>
<script type="text/javascript" src="../../static/js/jquery-3.7.1.min.js"
	th:src="@{js/jquery-3.7.1.min.js}"></script>

<style>
body {
	font-family: 'Noto Sans KR', sans-serif;
}

</style>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
	<div class="h-screen flex items-center justify-center">
		<div class="min-h-screen flex flex-col items-center justify-center">
			<div class="bg-white p-8 rounded shadow-md w-full max-w-sm">
				<h1 class="text-3xl text-center text-blue-800 mb-6">MYOSOO</h1>
				<div class="mb-4">
					<label class="block text-gray-700 text-sm font-bold mb-2"
						for="name"> 이름 </label> <input
						class="form-input w-full border-2 border-gray-300 rounded-md"
						id="name" placeholder="이름" type="text" />
				<div id="error_name" class="text-red-500 text-sm mt-1"></div>
				</div>
				<div class="mb-4">
					<label class="block text-gray-700 text-sm font-bold mb-2"
						for="id"> 아이디 </label> <input
						class="form-input w-full border-2 border-gray-300 rounded-md"
						id="id" placeholder="아이디" type="text" />
				</div>
				<div class="mb-6">
					<div class="flex-grow pr-2">
						<label class="block text-sm font-semibold text-gray-700 mb-2"
							for="email">이메일</label>
						<div class="flex flex-between ">
							<input type="text" id="email" name="email"
								class="form-input w-full border-2 border-gray-300 rounded-md p-2 text-sm mr-4"
								placeholder="이메일 주소를 입력하세요">
							<button type="button" id="sendEmailButton"
								class="flex-none bg-blue-500 text-white font-semibold py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-opacity-50"
								style="height: 42px;">전송</button>
						</div>
						<div id="error_email" class="text-red-500 text-sm mt-1"></div>
						<!-- 이메일 에러 메시지 -->
					</div>
				</div>
				
				<div class="mb-6 flex">
					<div class="flex-grow pr-2">
						<label class="block text-sm font-semibold text-gray-700 mb-2"
							for="user_auth">본인 인증</label>
						<div class="flex flex-between ">
							<input type="text" id="eccode_code"
								class="form-input w-full border-2 border-gray-300 rounded-md p-2 text-sm mr-4"
								placeholder="이메일 인증번호를 쓰세요">
							<button id="confirmButton"
								class="flex-none bg-blue-500 text-white font-semibold py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-opacity-50"
								style="height: 42px;" >인증</button>
						</div>
					</div>
				</div>
				<div class="flex items-center justify-between mb-6">
					<button id="findPassword"
						class="bg-blue-500 w-full hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
						type="button">비밀번호 찾기</button>
				</div>
				<div id="pwMessage" class="text-red-500 text-sm"></div> <!-- 메시지를 표시할 영역 -->

			
			<div class="text-center text-gray-500 text-xs mt-4">COPYRIGHT©
				Com2uS TYGEM Corporation ALL RIGHTS RESERVED.</div>
		</div>
		</div>
	</div>

	<script>
		$(document).ready(function(){
			let validForm = 0;

			$("#sendEmailButton").on("click", function(){
				let name = $("#name").val();
				let id = $("#id").val();
				let email = $("#email").val();

				// 이메일 검사
				if (!/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/.test(email)) {
					document.getElementById('error_email').textContent = '* 유효하지 않은 이메일 주소입니다';
					return;
				}

				// 이름 검사
				if (!/^[가-힣]{2,}$/.test(name)) {
					document.getElementById('error_name').textContent = '* 유효하지 않은 이름입니다';
					return;
				}
				document.getElementById('error_email').textContent = "";
				document.getElementById('error_name').textContent = "";

				let data = {
					"member_name": name,
					"member_id": id,
					"member_email": email
				};
				$.ajax({
					url: '/findPassword',
					type: 'POST',
					data: JSON.stringify(data),
					contentType: 'application/json',
					success: function(response) {
						if (response === "success") {
							alert("전송완료");
							validForm = 1;
						} else {
							alert("입력한 정보가 일치하지 않습니다.");
						}
					},
					error: function() {
						alert("전송실패");
					}
				});
			});


			$("#confirmButton").on("click", function checkPw() {
				let code = document.getElementById('eccode_code').value;
				let email = document.getElementById('email').value;
				let data = {
					"eccode_code": code,
					"eccode_email": email
				};
				$.ajax({
					url: '/findPasswordConfirm',
					type: 'POST',
					data: JSON.stringify(data),
					contentType: 'application/json',
					success: function(response) {
						if (response === "success") {
							alert("인증성공");
							validForm = 2;
						} else {
							alert("틀린 인증번호 입니다.");
						}
					},
					error: function() {
						alert("인증실패");
					}
				});
			});


			$("#findPassword").on("click", function() {
				if(validForm === 1 || validForm === 0) {
					alert("인증을 완료해주세요");
				}
				beforeModal();

				// 모달창 시작
				openModal();


				
					
					$("#changePassword").on("click", function() {
						let newPassword = document.getElementById('newPassword').value;
						let confirmPassword = document.getElementById('confirmPassword').value;						
						console.log('비밀번호가 재설정되었습니다: ' + newPassword);
						let name = $("#name").val();
						let id = $("#id").val();
						let email = $("#email").val();

						let data = {
							"member_name": name,
							"member_id": id,
							"member_email": email
						};
						if (newPassword === confirmPassword) {
						$.ajax({
							url: '/password?password=' + newPassword,
							type: 'POST',
							data: JSON.stringify(data),
							contentType: 'application/json',
							success: function(response) {
								if (response === "success") {
									alert("변경성공");
									closeModal();
								} else {
									alert("변경실패");
								}
							},
							error: function() {
								alert("비밀번호 변경실패");
							}
						});
						} else {
							alert('비밀번호가 일치하지 않습니다.');
						}
					});
				
			});

			function openModal() {
				document.getElementById('passwordResetModal').style.display = 'block';
			}
			$(".close").on("click", function() {
				closeModal();
			})
			function closeModal() {
				document.getElementById('passwordResetModal').style.display = 'none';
			}
			function beforeModal() {
				$("#id").attr("disabled", true);
				$("#name").attr("disabled", true);
				$("#email").attr("disabled", true);
				$("#eccode_code").attr("disabled", true);
				$("#sendEmailButton").attr("disabled", true);
				$("#confirmButton").attr("disabled", true);
			}
		});
    </script>

	<!-- 비밀번호 재설정 모달 -->
	<div class="modal" id="passwordResetModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">비밀번호 재설정</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="newPassword">새 비밀번호:</label>
						<input type="password" class="form-control" id="newPassword">
					</div>
					<div class="form-group">
						<label for="confirmPassword">비밀번호 확인:</label>
						<input type="password" class="form-control" id="confirmPassword">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" id="changePassword">확인</button>
				</div>
			</div>
		</div>
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	
</body>
</html>