<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="configure">
        <link th:href="@{css/output.css}" rel="stylesheet"></link>
    	<link th:href="@{css/flowbite.min.css}" rel="stylesheet"></link>
    	<script defer th:src="@{js/flowbite.min.js}"></script>
    	<script th:src="@{js/jquery-3.7.1.min.js}"></script>
    	<link href="https://cdn.jsdelivr.net/npm/tailwindcss@^2.0/dist/tailwind.min.css" rel="stylesheet">
    	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">    	
    	<body style="font-family: 'Noto Sans KR', sans-serif; background-color: #f7f7f7; padding-bottom: 60px;"></body>
  </th:block>
</html>